<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Bikie</h3>
					<%= render 'shared/navigation' %>
				</div>
			</div>

			<div class="inner cover">
				<h1 class="cover-heading">Keep on ridin'</h1>
				<p class="lead">Rent a bike from someone close to you <br> wherever you may be...</p>
				<p class="lead">
					<a href="#" class="btn btn-lg btn-default">Explore</a>
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
					<p><a href="#">©Bikie 2015</a></p>
				</div>
			</div>

		</div>

	</div>

</div>


